* {
  margin: 0;
  padding: 0;
  font-family: "Philosopher", sans-serif;

  font-optical-sizing: auto;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 1.3rem;
}
.sect-title {
  font-size: 45px;
  line-height: 50px;
  margin-bottom: 2rem;
}
p, a{
  font-family: "Winky Rough", sans-serif;
}

.hero {
  background:  linear-gradient(to right, #37204ad8, #3a1b7de4), url(images/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.custom-shape-divider-bottom-1744293049 {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1744293049 svg {
  position: relative;
  display: block;
  width: calc(123% + 1.3px);
  height: 141px;
}
.custom-shape-divider-top-1744293444 {
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1744293444 svg {
  position: relative;
  display: block;
  width: calc(128% + 1.3px);
  height: 114px;
}

.custom-shape-divider-top-1744293444 .shape-fill {
  fill: #fff;
}
.custom-shape-divider-bottom-1744293049 .shape-fill {
  fill: #FFFFFF;
}

.container {
  padding: 2rem 4.6rem;
}
.hero .container {
  padding-bottom: 7rem;
}
.hero header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 2px dashed #f3f3f3;
  margin-bottom: 3rem;
}
.hero header .logo {
  width: 100px;
}
nav{
  position: relative;
}
.menu-icon {
  background: none;
  border: none;
  display: none;
}
.menu-icon img {
  width: 30px;
}

.hero header ul {
  position: relative;
  padding: 15px 30px;
  background: linear-gradient(to right, #b0fcff, #c9bbff);
  display: flex;
  list-style: none;
  gap: 40px;
  align-items: center;
  border-radius: 10px;
}
.hero header ul li a {
  text-decoration: none;
  color: #6635ce;
  font-size: 20px;
  font-weight: 550;
}

.hero .hero-text {
  margin-block: 5rem;
}

.h-text {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}
.hero-text .h-text h1 {
  font-size: 65px;
  line-height: 75px;
  letter-spacing: 1px;
  color: #fff;
  margin-bottom: 3rem;
}
.hero-text .h-text p {
  font-size: 20px;
  line-height: 2rem;
  letter-spacing: 1px;
  margin-bottom: 3rem;
  color: #e5d2fa;
}
.hero-text .cta {
  padding: 1rem 6rem;
  background: linear-gradient(to right, #24a5aa, #896bff);
  color: #ffffff;
  text-shadow: 1px 2px 4px #333;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

/* about styles */
.about {
  background-color: #fff;
  padding-bottom: 5rem;
  position: relative;
}
.row {
}
.about .row .icon  {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.about .row .icon svg{
  width: 50px;
  height: 50px;
  fill: #37204a;
}
.about .row  .col.a-text {
 text-align: center;
 max-width: 600px;
 margin: 0 auto 3rem;
}

.about .row .a-text h2 {
  color: #37204a;
  font-size: 50px;
}
.about .row .a-text p {
  font-size: 17px;
  line-height: 25px;
  margin-bottom: 3rem;
  color: #52336b;
}
/* grid */
.a-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.a-grid .grid-item img{
  width: 90%;
  height: 350px;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
}
.a-grid .service-item{
  display: grid;
  grid-template-columns: repeat(2, 1fr) ;
  gap: 1rem;
}

.a-grid .service-item-child{
  padding: 1rem;
  background-color: #f6f4ff;
  border-radius: 7px;
  display: flex;
  gap: 15px;
  align-items: center;
  transition: 200ms ease-out;
  cursor: pointer;
}
.a-grid .service-item-child:hover{
  background-color: #f3e8fe;
  transform: translateY(-5px);
  box-shadow: -6px 10px 3px #25a1a518;
}
.a-grid .service-item-child img{
  width: 40px;
  height: 40px;
  display: block;
}
.a-grid .service-item-child h3{
  font-size: 18px;
  margin-bottom: 0.4rem;
  color: #492a62;
}
.a-grid .service-item-child p{
  font-size: 14px;
  color: #5e3e78;
}
.a-grid .service-item-child.last{
  grid-column: 1 / 3;
}
.about .a-text .cta {
  padding: 1rem 6rem;
  background: #fc71a4;
  color: #fff;
  border-radius: 100vw;
  text-decoration: none;
  font-size: 18px;
  font-weight: 550;
}

@media only screen and (max-width: 850px){
  .a-grid{
    grid-template-columns: none;
  }
}
@media only screen and (max-width: 600px){
  .a-grid .service-item{
    display: flex;
    flex-direction: column;
  }
  .a-grid .service-item-child{
    width: 100%;
  }
}
/* product title */
.product {
  background:  linear-gradient(to right, #37204ae7, #3a1b7df3), url(images/istockphoto-1097713496-612x612.jpg);
  position: relative;
  padding: 5rem 0;
}
.product h2.sect-title {
  /* background: linear-gradient(to left, #08f7ff, #32246c);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center; */
  color: #9271d7;
  text-align: center;
  font-size: 60px;
  margin-top: -7rem;
  margin-bottom: 5rem;
  position: relative;
  z-index: 1;
  line-height: 70px;
  /* text-shadow: -4px 4px 1px rgba(255, 123, 0, 0.315); */
}
.prod-row {
  margin-bottom: 5rem;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.prod-row .prod-item {
  padding: 0.8rem;
  text-align: center;
  background-color: #fff1;
  border-radius: 6px;
  box-shadow: 0 0 20px #1112;
}
.prod-item:nth-child(1){
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 25px;
  background: none;
  box-shadow: none;
}
.prod-item .prod-title {
  font-size: 30px;
  background: linear-gradient(to left, #fcb64c 40%, #ff5b5b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-block: 0.7rem;
  
}
.prod-item h4{
  margin-bottom: 0.5rem;
  font-size: 20px;
  color: #dfd7ff;
  letter-spacing: 1px;
}
.prod-item p{
  font-size: 15px;
  color: #fff;
}
.product h1.sect-title{
  font-size: 50px;
  text-align: center;
  margin-top: 2rem;
  color: #f2eeff;
}
/* pricing */
.pricing {
  background: #fff5f9;
  position: relative;
}
.pricing .sect-title {
  text-align: center;
  color: #fd85b2;
  margin-bottom: -2rem;
  margin-top: 6rem;
}
.price-list-container {
  padding: 1.6rem 2rem;
  display: grid;
  gap: 25px;
  background: #fffafc;
  border-radius: 15px;
  box-shadow: -3px 4px 20px #7773;
}
.price-list {
  display: flex;
  gap: 20px;
  align-items: center;
}
.price-list .price-list-img {
  aspect-ratio: 1;
  width: 95px;
  box-sizing: border-box;
  border-radius: 50%;
}

.price-list-desc h3 {
  font-size: 16px;
  padding-bottom: 10px;
  border-bottom: 2px dashed #fd85b2;
  margin-bottom: 0.3rem;
  color: #fc71a4;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}
.price-list-desc p {
  font-size: 15px;
  line-height: 20px;
  color: #666;
  width: fit-content;
  text-align: justify;
}
.price-list-amount {
  font-size: 15px;
  color: #fd85b2;
}
.price-sale-img img {
  width: 100%;
  border-radius: 15px;
  box-shadow: -3px 4px 20px #7773;
}

.time-table{
    width: 97%;
}
.time-table, td, th, td{
    border-collapse: collapse;
    border: 1px solid #000;
}
tr{
    height: 50px;
}
td, th{
    padding: 10px;
    text-align: left;
}
th{
    font-size: 18px;
    color: #333;
}
td{
    color: #555;
}
tr:nth-child(odd){
    background: #ffe5f1;
}
tr:nth-child(even){
    background: #fff5f8;
}

#contact .col-img img{
    width: 95%;
    display: block;
    margin: 0 auto;
    height: 600px;
}
.socials{
    display: flex;
    gap: 1.5rem;
    margin-top: 1.3rem;
}
.socials svg{
    padding: 7px 12px;
    width: 20px;
    border-radius: 5px;
    background: #fe619a;
    fill: #fff;
    cursor: pointer;
}

/* tablet view responsiveness */
@media only screen and (max-width: 850px){
  .container{
    padding: 2rem 2.5rem;
  }
  p{
    text-align: justify;
  }
  .hero header ul{
    gap: 20px;
  }
  .hero-text .h-text h1{
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 1.5rem;
  }
  .sect-title{
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 1.5rem;
  }
  .a-grid .grid-item img{
    width: 100%;
  }
  .product h2.sect-title{
    font-size: 55px;
  }
  .row {
    gap: 1.8rem;
  }
  .about .row .a-text p{
    margin-bottom: 1.8rem;
  }
  .prod-row{
    gap: 30px;
  }
  #pricing .row{
    grid-template-columns: none;
  }
  .pricing .sect-title{
    margin-bottom: -4rem;
  }
  #contact .col-img img{
    height: 500px;
    width: 100%;
  }
  .socials{
    gap: 1rem;
  }
  .socials svg{
    width: 16px;
  }
}
@media only screen and (max-width: 550px){
  .container{
    padding: 1.2rem 1rem;
    overflow: hidden !important;
  }
  .row{
    grid-template-columns: none;
  }
  .hero-text{
    grid-template-columns: none !important;
  }
  .h-text p{
    text-align: justify;
  }
  .text-col.h-img{
    display: none;
  }
  .hero-text .h-text h1{
    font-size: 35px;
    line-height: 45px;
    text-align: left;
  }
  .a-grid .grid-item img{
    width: 100%;
    height: 250px;
    object-fit: contain;
  }
  .a-grid .service-item-child{
    width: fit-content;
  }
  .cta{
    margin-top: -1rem;
    text-align: center;
    display: block;
  }
  .product h2.sect-title{
    margin-top: 0;
    font-size: 45px;
  }
  .price-list-container{
    padding: 1.5rem;
  }
  .price-list .price-list-img{
    width: 75px;
    border-radius: 50%;
    height: 75px !important;
  }
  .prod-row{
    margin-top: -3rem;
    grid-template-columns: none;
    gap: 20px;
  }
  .price-list{
    gap: 12px;
  }
  .prod-row .prod-item{
    padding: 0.5rem;
  }
  .prod-row p{
    text-align: center;
  }
  .product h1.sect-title{
    font-size: 40px;
    margin-top: 0;
  }
  .prod-item .prod-title{
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
  }
  #contact .col-img img{
    height: 450px;
  }
  /* menu */
  header{
    align-items: center;
  }
  .hero header .logo{
    font-size: 23px;
  }
  .menu-icon {
    display: block;
    position: relative;
    z-index: 10;
  }
  .hero header ul{
    padding: 4rem 1rem;
    background:  linear-gradient(to right, #37204aeb, #3a1b7d9b), url(images/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 5;
    width: 55vw;
    left: 100px;
    flex-direction: column;
    align-items: start !important;
    gap: 50px;
    top: -15px;
    box-shadow: -4px 4px 25px #0002;
    transition: 200ms ease-out;
  }
  nav ul[aria-expanded="true"]{
    left: -180px;
  }
  .hero header ul li a{
    font-size: 22px;
    color: #fff;
  }
}